

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    font-family: "PT Sans","Tahoma",sans-serif;
    color: #000;
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.conteiner {
    margin: 0 auto;
    width: 940px;
}

.header {
    padding-bottom: 60px;
    background-color: #f4f7f9;
}


.header-title {
    margin-left: 53px;
    margin-top: 3px;
    width: 196px;
    color: #ee3643;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
}

.header-phone {
    padding-left: 12px;
    padding-top: 7px;
    padding-right: 49px;
    padding-bottom: 8px;
    line-height: 45px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 21px;
    color: #e9292a;
    border: 3px solid #ffffff;
}

.header-phone::before {
    margin-right: 40px;
    content: url("../img/icon/icon-phone.svg");
}

.header-addres {
    margin-top: 0;
}

.header-data {
    margin: auto;
    margin-left: 70px;
    width: 270px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
    text-align: center;
    color: #32425c;
}

.header-top-wrapper {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.header-bottom-wrapper {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 47px;
}

.header-top {
    align-items: center;
    background-color: #293449;
    color: #ffffff;
    min-height: 42px;
}

.header-top a {
    color: #ffffff;
}

.header-logo-link {
    padding-top: 13px;
    text-align: center;
    width: 220px;
    height: 28px;
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
}

.header-logo-link:hover {
    background-color: #ca2c37;
}

.header-logo-link:active {
    background-color: #ba2732;
}

.header-logo-link:focus {
    background-color: #ee3643;
}

.header-top-nav-list {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
    margin-right: 0;
    margin-left: auto;
    padding-left: 0;
    list-style: none;
}

.header-top-nav-list .bookmarks-link {
    padding-left: 43px;
    padding-right: 18px;
}

.header-top-nav-list a {
    padding: 9px 20px;
}

.header-top-nav-item {
    width: 150px;
    background-color: #293449;
}

.header-top-nav-item.active {
    background-color: #ee3643;
}

.header-top-nav-item:last-child {
    background-color: #63a63e;
}

.header-top-nav-item:last-child:hover {
    background-color: #5fbb2d;
}

.header-top-nav-item:last-child:active {
    background-color: #518534;
}

.header-top-nav-item:hover {
    background-color: #212a3a;
}

.header-top-nav-item:active {
    background-color: #161d29;
}

.bookmarks-link {
    position: relative;
    display: block;
    padding-left: 45px;
    padding-right: 18px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 17px;
}

.bookmarks-link::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 17px;
    width: 14px;
    height: 16px;
    background-image: url("../img/icon/icon-bookmark.svg");
    background-size: 14px 16px;
    background-repeat: no-repeat;
    opacity: 0.3;
}

.bookmarks-link:hover::before {
    opacity: 1;
}

.bookmarks-link:active::before {
    opacity: 0.5;
}

.header-top-nav-list .cart-link {
    position: relative;
    display: block;
    padding-left: 49px;
    padding-right: 18px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 17px;
}

.cart-link::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 17px;
    width: 15px;
    height: 15px;
    background-image: url("../img/icon/cart-icon.svg");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.cart-link:hover::before {
    opacity: 1;
}

.cart-link:active::before {
    opacity: 0.5;
}

.order-link {
    display: block;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 17px;
}

.main-menu-list {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    padding-left: 25px;
    flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 0;
    list-style: none;
    font-size: 17px;
}

.main-menu {
    margin-top: 23px;
    background-color: #32425c;
    border-bottom: 5px solid #293449;
}

.main-menu-item.active {
    background-color: #1d2739;
}

.main-menu-item {
    background-color: #32425c;
}

.main-menu-item:hover {
    background-color: #293449;
    font-style: normal;
    color: #ffffff;
}

.main-menu-item:active {
    background-color: #1d2739;
    color: rgba(255, 255, 255, 0.5);
}

.main-menu-item-link {
    display: block;
    padding-left: 30px;
    padding-top: 16px;
    padding-right: 30px;
    padding-bottom: 15px;
    color: #ffffff;
    font-family: 'Cuprum', "Tahoma", sans-serif;
    font-style: normal;
}

.populars-list {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 21px;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

.populars-item:nth-child(4n) .card {
    margin-right: 0;
}

.populars-title-wrap {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 26px;
    background-color: #f9f5f0;
}

.populars-title {
    margin: 0;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    line-height: 38px;
    text-align: left;
    text-transform: uppercase;
    color: #32425c;
}

.button.popular-button {
    padding: 10px 29px;
    margin-left: auto;
    margin-right: 24px;
    height: 18px;
}

.popular-brands-list {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    list-style: none;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 63px;
}

.popular-brands-link {
    display: block;
    width: 218px;
    height: 142px;
    border: solid 1px #eaeaea;
    background-color: #ffffff;
}

.popular-brands-link:active {
    opacity: 0.3;
    box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.popular-brands-list-item {
    margin-left: 20px;
    margin-bottom: 20px;
}

.popular-brands-list-item:nth-child(4n+1) {
    margin-left: 0;
}

.popular-brands-list-item:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
    background-color: #ffffff;
}

.popular-brands-list-item:active {
    box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
    background-color: #ffffff;
}

.service-wrapper {
    background-color: #f2f6f8;
    padding-top: 43px;
    padding-bottom: 54px;
}

.service-slider {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    flex-wrap: wrap;
    margin-top: 65px;
}

.service-control {
    position: relative;
}

.service-control::after {
    content: "";
    position: absolute;
    z-index: 70;
    top: -32px;
    left: 230px;
    width: 15px;
    height: 284px;
    background: url(../img/shadow.png) no-repeat;
    background-position: 0 0;
}

.service-control-list {
    margin-top: 6px;
    list-style: none;
    padding: 0;
}

.service-item {
    font-family: "Cuprum", "Tahoma", sans-serif;
    width: 240px;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    font-style: normal;
    color: #32425c;
}

.service-label {
    display: block;
    width: 218px;
    line-height: 30px;
    background-color: #32425c;
    color: #ffffff;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
    padding-left: 22px;
    padding-top: 13px;
    padding-bottom: 16px;
    cursor: pointer;
}

.service-label:hover {
    background: #293449;
}

.service-label:active {
    background-color: #fff;
    color: #32425c;
}

.service-label:focus {
    background-color: #fff;
    color: #32425c;
}

.service-input:focus + .service-label {
    background-color: #fff;
    color: #32425c;
}

.service-title {
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 30px;
    font-style: normal;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

.service-slogan {
    padding-right: 540px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-style: normal;
    line-height: 24px;
    color: #000000;
}

.service-slide {
    display: none;
    padding-left: 80px;
}

#service-slide-1 {
    display: block;
}

#delivery:checked ~ .service-right #service-slide-1,
#garanty:checked ~ .service-right #service-slide-2,
#credit:checked ~ .service-right #service-slide-3 {
  display: block;
}

#delivery:checked ~ .service-control-list .service-label[for="delivery"],
#garanty:checked ~ .service-control-list .service-label[for="garanty"],
#credit:checked ~ .service-control-list .service-label[for="credit"] {
    background-color: #ffffff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: #32425c;
}

.service-right {
    min-width: 700px;
}

.service-right-title {
    text-transform: uppercase;
    margin-top: 2px;
    margin-bottom: 26px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 36px;
    font-style: normal;
    line-height: 36px;
    color: #32425c;
}

.delivery {
    padding-bottom: 60px;
    background-image: url(../img/delivery.png);
    background-position: 230px 26px;
    background-repeat: no-repeat;
}

.guarantee {
    padding-bottom: 60px;
    background-image: url(../img/guarantee.png);
    background-position: 230px 26px;
    background-repeat: no-repeat;
}

.credit {
    padding-bottom: 60px;
    background-image: url(../img/credit.png);
    background-position: 230px 26px;
    background-repeat: no-repeat;
}

.service-right-text {
    width: 280px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-style: normal;
    line-height: 24px;
    color: #000000;
}

.service-right-text-2 {
    margin-top: -13px;
    width: 222px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-style: normal;
    line-height: 24px;
    color: #000000;
}

.login-list {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
}

.login-item {
    margin-left: 10px;
}

.login-item-link {
    display: block;
    padding-top: 13px;
    padding-bottom: 11px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 21px;
    font-style: normal;
    line-height: 21px;
    background-color: #ffffff;
    color: #000000;
}

.login-item-link.login {
    position: relative;
    padding-left: 48px;
    padding-right: 27px;
}

.login-item-link:hover {
    color: #ee3643;
}

.login-item-link:active {
    color: rgba(0, 0, 0, 0.3);;
}

.login-item-link.login::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 14px;
    width: 20px;
    height: 17px;
    background-image: url("../img/icon/icon-login.svg");
    background-size: 20px 17px;
    background-repeat: no-repeat;
    opacity: 0.3;

}

.login-item-link.login:hover::before {
    opacity: 1;
}

.login-item-link.login:active::before {
    opacity: 0.3;
}

.login-item-link.registration {
    padding-left: 25px;
    padding-right: 25px;
}

.breadcrumbs {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    list-style: none;
    margin-top: 18px;
}

.breadcrumbs-link {
    margin-left: 15px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-style: normal;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
}

.breadcrumbs-link::before {
    content: url("../img/icon/icon-right-small.svg");
    margin-right: 18px;
}

.breadcrumbs-link.home::before {
    display: none;
}

.breadcrumbs-link.home {
    margin-left: 0;
}

.filter-wrapper {
    width: 220px;
}

.filter-title {
    vertical-align: middle;
    margin: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
}

.price-fieldset {
    margin-top: 13px;
    padding: 0;
    padding-bottom: 27px;
    border: none;
    border-bottom: 1px solid #e5e5e5;
}

.filter-fieldset {
    margin-top: 16px;
    padding: 0;
    padding-bottom: 8px;
    border: none;
    border-bottom: 1px solid #e5e5e5;
}

.filter-fieldset.supply {
    border-bottom: none;

}

.range-filter {
    width: 260px;
    margin-top: 49px;
}

.range-controls {
    position: relative;
    height: 41px;
    margin-top: 13px;
    margin-bottom: 12px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    
    background-color: #f7f3ec;
    
    border-radius: 5px;
}

  .range-controls .scale {
    height: 2px;
  
    background: #d7dcde;
}

.range-controls .bar {
    width: 85%;
    height: 2px;
  
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;

    width: 4px;
    height: 4px;
    padding: 0;
  
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}
  
.range-controls .toggle-max {
    left: 160px;
}

.filter-checklist {
    padding-left: 0;
    list-style: none;
}

.price-controls {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    font-size: 0;
}

.price-controls-item {
    width: 60px;
    padding: 8px 18px;
    
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;
    
    border: none;
    border-radius: 5px;
    background: #f7f3ec;
}

.price-item-tire {
    margin: 0;
    margin-top: 4px;
    font-size: 16px;
}

.price-controls-item.min-price {
    margin-left: 0;
    margin-right: auto;
}

.price-controls-item.max-price {
    margin-left: auto;
    margin-right: 0;
}

.filter-label-checkbox {
    padding-left: 35px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 15px;
    font-style: normal;
    line-height: 20px;
    color: #000000;
    text-transform: uppercase;
    cursor: pointer;
}

.filter-label-radio {
    padding-left: 35px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 15px;
    font-style: normal;
    line-height: 20px;
    color: #000000;
    text-transform: uppercase;
    cursor: pointer;  
}

.filter-supply-item {
    position: relative;
    margin-top: 16px;
}

.filter-radio + .filter-label-radio::before {
    content: "";
    position: absolute;
    background-image: url(../img/icon/radio-off.svg);
    background-repeat: no-repeat;
    left: 0px;
    width: 25px;
    height: 25px;
    background-position: 0 0;
}

.filter-radio:checked + .filter-label-radio::after {
    content: "";
    position: absolute;
    background-image: url(../img/icon/radio-on.svg);
    background-repeat: no-repeat;
    left: 0px;
    width: 25px;
    height: 25px;
    background-position: 0 0;
}

.filter-radio:focus + .filter-label-radio::after {
    outline: 2px solid rgb(133, 186, 255);
}

.checklist-item {
    position: relative;
    margin-top: 15px;
}

.filter-checkbox + .filter-label-checkbox::before {
    content: "";
    position: absolute;
    background-image: url(../img/icon/checkbox-off.svg);
    background-repeat: no-repeat;

    left: 0px;
    width: 27px;
    height: 23px;
    background-position: 0 0;
}

.filter-checkbox:focus + .filter-label-checkbox::before {
    outline: 2px solid rgb(133, 186, 255);
}

.filter-checkbox:checked + .filter-label-checkbox::after {
    content: "";
    position: absolute;
    background-image: url(../img/icon/checkbox-on.svg);
    background-repeat: no-repeat;

    left: 0px;
    width: 27px;
    height: 23px;
    background-position: 0 0;
}

.filter-button {
    margin-top: 52px;
    width: 140px;
    height: 38px;
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-style: normal;
    line-height: 18px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.content-wrapper {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 46px;
}

.filter-title-wrap {
    padding-left: 18px;
    padding-top: 10px;
    padding-right: 18px;
    padding-bottom: 10px;
    background-color: #f7f3ec;
    font-size: 13px;
    line-height: 18px;
}

.filter-legend {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    line-height: 30px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}


.catalog {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 700px;
    margin: 20px auto;
}

.catalog-wrapper {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 700px;
    margin-left: 20px;
}

.catalog-title-wrap {
    width: 100%;
    margin-bottom: 20px;
    min-height: 89px;
    background-color: #f2f6f8;
  }

.catalog-main-title {
    padding-left: 30px;
    padding-top: 32px;
    margin-top: 15px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 30px;
    font-style: normal;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
}


.pagination {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
    list-style: none;
}

.pagination-item {
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
    border-radius: 3px;
    margin-right: 8px;
    padding-left: 15px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

.pagination-item.next {
    padding: 6px 31px;
}
  
.pagination-item:hover {
    border: solid 1px #bdc6ca;
}

.pagination-item:active {
    border: solid 1px #ee3643;
}

.pagination-item.active {
    background-color: #ee3643;
    color: #ffffff;
}

.pagination-item.active a {
    color: #ffffff;
}
  
.pagination-link {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-style: normal;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.sort-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 20px;
    padding-top: 12px;
    padding-right: 18px;
    padding-bottom: 10px;
    font-size: 13px;
    line-height: 18px;
    background-color: #f7f3ec;
    text-transform: uppercase;
}

.sort-title {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    padding-top: 14px;
    padding-left: 19px;
}

.sort-by {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
    margin-left: auto;
    vertical-align: middle;
    list-style: none;
}

.sort-by-link{
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-style: normal;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #ee3643;
}

.sort-by-link.active {
    color: #ee3643;
    border: none;
}

.sort-by-link:hover {
    color: #000000;
    border-bottom: 1px solid #ee3643;
}

.sort-by-item {
    margin-right: 55px;
}

.arrow {
    margin-left: 5px;
    fill: #c5c5c5;
}

.arrow:hover {
    fill: #000000;
}

.arrow.active {
    fill: #ee3643;
    margin-right: 14px;
}

.user-wrapper {
    margin-right: 0;
}

.user-list {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    list-style: none;
    margin-top: 5px;
    padding-left: 17px;
}

.user-link {
    margin-right: 15px;
    text-decoration: underline;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 18px;
    color: #32425c;
}

.user-link:hover {
    color: #ee3643;
}

.user-link:active {
    color: rgba(50, 66, 92, 0.3);
}

.main-content {
    background-color: #ffffff;
}

.search-form {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
}

.search-img {
    padding-left: 15px;
    padding-right: 15px;
}

.search-img path{
    fill: #fff;
    opacity: 0.3;
}

.search:hover + .search-form-button path{
    fill: #fff;
    opacity: 1;
}

.search:active + .search-form-button path{
    fill: #fff;
    opacity: 0.3;
}

.search:focus + .search-form-button path{
    fill: #ee3643;
    opacity: 1;
}

.search {
    order: 2;
    padding-left: 0;
    padding-top: 12px;
    padding-right: 65px;
    padding-bottom: 12px;
    font-size: 17px;
    line-height: 18px;
    background-color: #293449;
    color: #ffffff;
    font-family: "Cuprum","Arial",sans-serif;
    border: none;
}

.search:hover {
    background-color: #212a3a;
}

.search:active {
    background-color: #293449;
}

.search:focus {
    background-color: #ffffff;
    color: #000;
}

.search-form-button {
    padding: 0;
    order: 1;
    background-color: #293449;
    border: none;
}

.search:hover + .search-form-button {
    background-color: #212a3a;
}

.search:active + .search-form-button {
    background-color: #293449;
}

.search:focus + .search-form-button {
    background-color: #ffffff;
    color: #000;
}


.user-profile {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #ffffff;
    padding: 10px;
    padding-top: 11px;
    padding-bottom: 9px;
}

.profile-name-link {
    position: relative;
    font-family: 'Cuprum', "Tahoma", sans-serif;
    font-size: 21px;
    font-style: normal;
    line-height: 21px;
    color: #000000;
}

.user-profile .profile-name-link {
    padding-left: 34px;
}

.profile-name-link::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon/icon-user.svg");
    background-repeat: no-repeat;
    opacity: 0.3;
    top: 2px;
    left: 0px;
    width: 22px;
    height: 17px;
    background-position: 0 0;
}

.profile-name-link:hover::before {
    opacity: 1;
}

.profile-name-link:active,
.profile-name-link:active::before {
    opacity: 0.3;
}

.profile-logout {
    margin-left: 39px;
}

.profile-logout svg g {
    fill: #c5c5c5;
}

.profile-logout:hover svg g {
    fill: #32425c;
}

.profile-logout:active svg g {
    fill: #c5c5c5;
}

.profile-logout:hover::before {
    opacity: 0.3;
}

.categorys {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 39px;
    margin-bottom: 53px;
}

.categorys-left {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 640px;
}

.categorys-right {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 300px;
    margin-left: auto;
}


.categorys-item {
    position: relative;
    margin-top: 20px;
    margin-right: auto;
    width: 300px;
    height: 123px;
}

.categorys-item-title {
    margin-left: 21px;
    margin-top: 20px;
    margin-bottom: 11px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 24px;
    font-style: normal;
    line-height: 30px;
    font-weight: bold;
    color: #ffffff;
}

.categorys-item-button:hover {
    width: 135px;
    height: 38px;
    background-color: rgba(0,0,0,0.2);
}

.categorys-item-button:active {
    background-color: rgba(0,0,0,0.3);
}

.categorys-item-link {
    display: block;
    width: 135px;
    margin-left: 23px;
    margin-bottom: 15px;
    padding-top: 13px;
    padding-bottom: 10px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    background-color: rgba(0,0,0,.1);
    color: white;
    text-transform: uppercase;
    border-radius: 3px;
}

.categorys-item-link:hover {
    background-color: rgba(0,0,0,.2);
}

.categorys-item-link:active {
    background-color: rgba(0,0,0,.3);
}

.categorys-materials {
    background-color: #ffbf47;
    background-image: url("../img/icon/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 85% 50%;
    background-size: 44px 65px;
}

.categorys-tools {
    background-color: #3bbce3;
    background-image: url(../img/icon/icon-2.svg);
    background-repeat: no-repeat;
    background-position: 85% 50%;
    background-size: 75px 61px;
}

.categorys-tech {
    background-color: #dc91d8;
    background-image: url(../img/icon/icon-3.svg);
    background-repeat: no-repeat;
    background-position: 85% 50%;
    background-size: 78px 62px;
}

.categorys-discount {
    background-color: #8ed78f;
    background-image: url(../img/icon/icon-4.svg);
    background-repeat: no-repeat;
    background-position: 85% 50%;
    background-size: 59px 72px;
}

.categorys-delivery {
    background-color: #ffc047;
    background-image: url(../img/icon/icon-5.svg);
    background-repeat: no-repeat;
    background-position: 85% 50%;
    background-size: 78px 63px;
}

.about {
    padding-top: 67px;
    padding-bottom: 70px;
    background-color: #f4f7f9;
    color: #000000;
}

.about-title {
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 30px;
    margin-top: 0;
}

.about-text {
    margin: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-style: normal;
    line-height: 24px;
    color: #000000;
}

.slider-x {
    position: relative;
    padding-top: 20px;
}

.slider-left {
    position: absolute;
    top: 46%;
    margin-left: 18px;
    border: none;
    background: none;
    cursor: pointer;
}

.slider-right {
    position: absolute;
    top: 47%;
    left: 100%;
    margin-left: -50px;
    border: none;
    background: none;
    cursor: pointer;
}

.slider-control-point {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    position: absolute;
    bottom: 28px;
    left: 295px;
    z-index: 2;
    font-size: 0;
}

.slider-point-label {
    width: 5px;
    height: 5px;
    margin-right: 8px;
    vertical-align: top;
    background-color: #fff;
    border: 3px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

.slide {
    display: none;
}

#slide-drill:checked ~ .slides #slide-1,
#slide-perf:checked ~ .slides #slide-2 {
  display: block;
}

#slide-drill:checked ~ .slider-control-point .slider-point-label[for="slide-drill"],
#slide-perf:checked ~ .slider-control-point .slider-point-label[for="slide-perf"] {
    background-color: red;
    border: 3px solid #fff;
}

#slide-2 {
    width: 575px;
    height: 217px;
    padding-left: 26px;
    padding-right: 20px;
    padding-top: 27px;
    padding-bottom: 23px;
    background-image: url("../img/slide-image2.jpg");
    background-repeat: no-repeat;
    background-size: 620px 266px;
}

#slide-1 {
    width: 575px;
    height: 217px;
    padding-left: 26px;
    padding-right: 20px;
    padding-top: 27px;
    padding-bottom: 23px;
    background-image: url("../img/slide-image.jpg");
    background-repeat: no-repeat;
    background-size: 620px 266px;
}

.slide-title {
    margin: 0;
    margin-left: -2px;
    margin-top: -4px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    line-height: 36px;
    color: #ffffff;
    text-transform: uppercase;
}

.slide-slogan {
    margin: 0;
    margin-top: 1px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    color: #ffffff;
}

.button {
    display: block;
    width: 195px;
    background-color: #ee3643;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    border-radius: 5px;
}

.button:hover {
    background-color: #ca2c37;
}

.button:active {
    background-color: #ba2732;
}

.button.slider-button {
    margin-top: 123px;
}

.card {
    position: relative;
    width: 218px;
    margin-right: 20px;
    margin-bottom: 20px;
    line-height: 20px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    border: solid 1px #eaeaea;
}

.card:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.card:nth-child(3n) {
    margin-right: 0;
}

.catalog {
    font-size: 0;
  }

.flag-new:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    width: 60px;
    height: 60px;
    background: url(../img/icon/new-flag.png) no-repeat 0 0;
}

.card-actions {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 4px;
    padding: 40px 0;
    background-color: rgba(255,255,255,0.9);
    z-index: -1;
}

.card-actions-add {
  display: block;
  width: 135px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 9px 0;
  
  background-color: #63a63e;
  box-shadow: inset 0px -3px 0 0 #367315;
  border-radius:3px;
  
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.card-actions-add:hover {
    background-color: #5fbb2d;
}

.card-actions-add:active {
    background-color: #518534;
}

.card-actions-mark {
    display: block;
    width: 129px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 7px 0;
  

    border: 3px solid #63a63e;
    border-radius:3px;
    background-color: #ffffff;
  
    color: #32425c;
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum", sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.card-actions-mark:hover {
    border: 3px solid #32425c;
}

.card-actions-mark:active {
    opacity: 0.3;
    border: 3px solid #32425c;
}

.card:hover .card-actions {
        z-index: 1;
}

.card:focus-within .card-actions {
    display: block;
    z-index: 1;
}

.card-image {
    width: 218px;
    height: 170px;
}

.card-image img {
    max-width: 100%;
}

.card-link {
    text-decoration: none;
    color: #000;
}

.card-link:hover {
    color: #000;
}

.card-link:visited {
    color: #000;
}

.card-link:active {
    color: #000;
}

.card-title {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    min-height: 40px;
    padding: 0 25px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.card-price-old {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    font-weight: bold;
    min-height: 20px;
    padding: 1px 25px;
    margin: 0;
    margin-top: 8px;
    color: #999;
    text-decoration: line-through;
}

.card-price-new {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    font-weight: bold;
    position: relative;
    width: 80px;
    margin: 10px 42px;
    margin-bottom: 20px;
    padding: 9px 28px;
    padding-right: 31px;
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 3px;
}

.card-price-new:after {
    content: "";
    
    position: absolute;
    top: 0;
    right: -20px;
    
    width: 0;
    height: 0;
    
    border: 19px solid white;
    border-left-color: #ee3643;
}

.brand-image {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.contact-company {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 82px;
    margin-bottom: 86px;
}

.contact-with-us {
    margin-left: 120px;
}

.about-us-title {
    margin: 0;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 30px;
    font-style: normal;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

.about-us-text-1 {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-style: normal;
    line-height: 24px;
    color: #000000;
    width: 519px;
    margin-top: 25px
}

.about-us-text-2 {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-style: normal;
    line-height: 24px;
    color: #000000;
    width: 386px;
    margin-top: 24px;
    margin-bottom: 11px;
}

.about-us-list {
    list-style: none;
    margin: 0;
    padding-left: 35px;
}

.about-us-item {
    position: relative;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 40px;
    text-align: left;
    color: #000000;
}

.about-us-item::before {
    position: absolute;
    top: 19px;
    left: -36px;
    content: "";
    width: 25px;
    height: 2px;
    background-color: #ee3643;
}

.about-us .button {
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 26px;
}

.contact-with-us .button {
    padding-left: 53px;
    padding-right: 53px;
    margin-top: 28px;
}

.contact-with-us-title {
    margin: 0;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 30px;
    font-style: normal;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

.contact-with-us-text {
    width: 179px;
    margin-top: 25px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-style: normal;
    line-height: 24px;
    color: #000000;
}

.little-map {
    margin-top: 30px;
    margin-bottom: 32px;
}

.footer {
    background-color: #32425c;
}

.footer-top {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 31px;
}

.footer-logo-link {
    padding-top: 20px;
    padding-bottom: 11px;
    text-align: center;
    width: 220px;
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
}

.footer-logo-link:hover {
    background-color: #ca2c37;
}

.footer-logo-link:active {
    background-color: #ba2732;
}

.footer-logo-link:focus {
    background-color: #ee3643;
}

.footer-nav {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    flex-direction: column;
}

.footer-nav-top-list {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 0;
    list-style: none;
    margin-top: 37px;
}

.footer-nav-top-item-link {
    margin-left: 60px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    color: #f1f5f7;
}

.footer-nav-top-item-link:hover {
    text-decoration: underline;
}

.footer-nav-top-item-link:active {
    color: rgba(241, 245, 247, 0.5);
}

.footer-nav-bottom-list {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 25px;
    list-style: none;
    margin-top: 14px;
}

.footer-nav-bottom-item {
    margin-left: 60px;
    margin-top: 6px;
}

.footer-nav-bottom-item-link {
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    color: #ffd180;
}

.footer-nav-bottom-item-link:hover {
    text-decoration: underline;
}

.footer-nav-bottom-item-link:active {
    color: rgba(255, 209, 128, 0.5);;
}

.footer-adress-text {
    margin-top: 33px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    color: #f3f7f9;
}

.footer-address {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.footer-address-phone {
    color: #ffffff;;
}


.footer-bottom {
    background-color: #293449;
}

.footer-bottom-wrapper {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 21px;
}

.copyright-text {
    width: 230px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 18px;
    color: #ffffff;
}

.socials-list
 {
    margin-left: 161px;
    margin-right: auto;
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    list-style: none;
    padding-left: 0;
}

.socials-item {
    margin-left: 3px;
}

.socials-item-link {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-decoration: none;
    background: #212a3a;
    border-radius: 50px;
}

.socials-item-link:hover,
.socials-item-link:active {
    background-color: #ee3643;
}

.socials-item-link.vk svg {
    margin-left: 7px;
    margin-top: 13px;
}

.socials-item-link.fb svg {
    margin-left: 15px;
    margin-top: 10px;
}

.socials-item-link.inst svg {
    margin-left: 10px;
    margin-top: 10px;
}

.feedback-text {
    width: 120px;
    margin-left: auto;
    margin-right: 0;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 18px;
    color: #ffffff;
}

.feedback-link {
    color: #ffd180;
}

.feedback-link:hover {
    text-decoration: underline;
}

.feedback-link:active {
    color: #ee3643;
}

.button-close {
    display: block;
    border: none;
    margin-right: 4px;
    margin-top: 9px;
    margin-left: auto;
    cursor: pointer;
    background-color: #ffffff00;
}

.write-to-us-text {
    margin-top: 22px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 18px;
    color: #000000;
}

.popup-write-to-us {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -310px;
    margin-top: -215px;
    z-index: 100;

    width: 620px;
    background-color: #fff;
    border-top: 7px solid red;
    box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.popup-added {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -310px;
    margin-top: -141px;
    z-index: 100;
    width: 620px;
    height: 282px;
    background-color: #fff;
    border-top: 7px solid red;
    box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.input-wrapper {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 23px;
}


.your-email {
    margin-left: auto;
    margin-right: 0;
}

.popup-label {
    display: block;    
    line-height: 18px;
    margin-bottom: 13px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #000000;
}

.popup-button-send {
    padding: 37px 80px;
    text-align: center;
    background-color: #f4f4f4;
}

.popup-button-send .button {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-radius: 5px;
}

.name-input,
.email-input {
    padding: 16px;
    padding-top: 13px;
    width: 188px;
    border: solid 2px #dee3e4;
    border-radius: 4px;
    background-color: #ffffff;
}

.letter-input {
    padding: 16px;
    padding-top: 13px;
    width: 428px;
    height: 114px;
    border: solid 2px #dee3e4;
    background-color: #ffffff;
}

.popup-added-button-light {
    margin-left: 20px;
    display: block;
    width: 220px;
    background-color: #fff;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 18px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    border-radius: 5px;
}

.button.added {
    width: 220px;
}

.popup-added-title {
    margin-top: 20px;
    margin-left: 32px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 30px;
    font-style: normal;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

.popup-added-buttons-wrap {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    padding-top: 37px;
    padding-left: 80px;
    padding-bottom: 37px;
    background-color: #f1f1f1;
}

.popup-added-text {
    display: -webkit-box;
display: -ms-flexbox;
display: flex;
    margin-top: 20px;
    margin-left: 81px;
    margin-bottom: 49px;
}

.popup-big-map {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -470px;
    margin-top: -232px;
    z-index: 100;
    width: 940px;
    height: 464px;
    box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
    background-image: url("../img/map.png");
    background-repeat: no-repeat;
    background-size: 940px 464px;
}

