

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    font-family: "PT Sans","Tahoma",sans-serif;
    color: #000;
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.conteiner {
    margin: 0 auto;
    width: 940px;
}

.header {
    padding-bottom: 60px;
    background-color: #f4f7f9;
}


.header-title {
    margin-left: 53px;
    width: 196px;
    color: #ee3643;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
}

.header-phone {
    padding-left: 12px;
    padding-top: 7px;
    padding-right: 49px;
    padding-bottom: 8px;
    line-height: 45px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 21px;
    color: #e9292a;
    border: 3px solid #ffffff;
}

.header-phone::before {
    margin-right: 40px;
    content: url("../img/icon/icon-phone.svg");
}

.header-data-adres {
    display: block;
}

.header-data {
    margin: auto;
    width: 270px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
    text-align: center;
    color: #32425c;
}

.header-top-wrapper {
    display: flex;
}

.header-bottom-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 47px;
}

.header-top {
    align-items: center;
    background-color: #293449;
    color: #ffffff;
    min-height: 42px;
}

.header-top a {
    color: #ffffff;
}

.header-logo-link {
    padding-top: 13px;
    text-align: center;
    width: 220px;
    height: 28px;
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
}

.header-top-nav-list {
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.header-top-nav-list .bookmarks-link,
.header-top-nav-list .cart-link {
    padding-left: 40px;
    padding-right: 18px;
}

.header-top-nav-list a {
    padding: 8px 20px;
}

.header-top-nav-item {
    background-color: #293449;
}

.header-top-nav-item.active {
    background-color: #ee3643;
}

.header-top-nav-item:last-child {
    background-color: #63a63e;
}

.header-top-nav-item:last-child:hover {
    background-color: #5fbb2d;
}

.header-top-nav-item:last-child:active {
    background-color: #518534;
}

.header-top-nav-item:hover {
    background-color: #212a3a;
}

.header-top-nav-item:active {
    background-color: #161d29;
}

.bookmarks-link {
    position: relative;
    display: block;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 17px;
}

.bookmarks-link::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 13px;
    width: 14px;
    height: 16px;
    background-image: url("../img/icon/icon-bookmark.svg");
    background-size: 14px 16px;
    background-repeat: no-repeat;
    opacity: 0.3;
}

.bookmarks-link:hover::before {
    opacity: 1;
}

.bookmarks-link:active::before {
    opacity: 0.5;
}

.cart-link {
    position: relative;
    display: block;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 17px;
}

.cart-link::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 13px;
    width: 15px;
    height: 15px;
    background-image: url("../img/icon/cart-icon.svg");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.cart-link:hover::before {
    opacity: 1;
}

.cart-link:active::before {
    opacity: 0.5;
}

.order-link {
    display: block;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 17px;
}

.main-menu-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    list-style: none;
    font-size: 17px;
}

.main-menu {
    background-color: #32425c;
    box-shadow: inset 0px -5px 0 0 #293449;
}

.main-menu-item.active {
    background-color: #1d2739;
}

.main-menu-item {
    float: left;
    background-color: #32425c;
    box-shadow: inset 0px -5px 0 0 #293449;
}

.main-menu-item:hover {
    background-color: #293449;
    font-style: normal;
    color: #ffffff;
}

.main-menu-item:active {
    background-color: #1d2739;
    color: rgba(255, 255, 255, 0.5);
}

.main-menu-item-link {
    display: block;
    padding-left: 30px;
    padding-top: 16px;
    padding-right: 30px;
    padding-bottom: 15px;
    color: #ffffff;
    font-family: 'Cuprum', "Tahoma", sans-serif;
    font-style: normal;
}

.populars-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 21px;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

.populars-list .populars-item:nth-child(4n) .card {
    margin-right: 0;
}

.populars-title-wrap {
    padding-left: 30px;
    padding-top: 33px;
    padding-bottom: 30px;
    background-color: #f9f5f0;
}

.populars-title {
    display: inline;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 30px;
    font-style: normal;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    color: #32425c;
}

.popular-button {
    float: right;
    margin-right: 24px;
}

.popular-brands-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
    margin-top: 20px;
}

.popular-brands-list-item {
    width: 218px;
    height: 145px;
    margin-left: 20px;
    margin-bottom: 20px;
    border: solid 1px #eaeaea;
    background-color: #ffffff;
}

.popular-brands-list-item:nth-child(4n+1) {
    margin-left: 0;
}

.popular-brands-list-item:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
    background-color: #ffffff;
}

.popular-brands-list-item:active {
    box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
    background-color: #ffffff;
}

.service-wrapper {
    background-color: #f2f6f8;
}

.service-control-list {
    list-style: none;
}

.service-title {
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 30px;
    font-style: normal;
    line-height: 30px;
    color: #000000;
}

.service-slogan {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-style: normal;
    line-height: 24px;
    color: #000000;
}

.service-right-title {
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 36px;
    font-style: normal;
    line-height: 36px;
    color: #32425c;
}

.service-right-text {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-style: normal;
    line-height: 24px;
    color: #000000;
}

.service-item {
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    font-style: normal;
    color: #32425c;
}

.login-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.login-item {
    margin-left: 10px;
}

.login-item-link {
    display: block;
    padding-top: 13px;
    padding-bottom: 11px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 21px;
    font-style: normal;
    line-height: 21px;
    background-color: #ffffff;
    color: #000000;
}

.login-item-link.login {
    position: relative;
    padding-left: 48px;
    padding-right: 27px;
}

.login-item-link:hover {
    color: #ee3643;
}

.login-item-link:active {
    color: rgba(0, 0, 0, 0.3);;
}

.login-item-link.login::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 14px;
    width: 20px;
    height: 17px;
    background-image: url("../img/icon/icon-login.svg");
    background-size: 20px 17px;
    background-repeat: no-repeat;
    opacity: 0.3;

}

.login-item-link.login:hover::before {
    opacity: 1;
}

.login-item-link.login:active::before {
    opacity: 0.3;
}

.login-item-link.registration {
    padding-left: 25px;
    padding-right: 25px;
}

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.breadcrumbs-link {
    margin-left: 15px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-style: normal;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
}

.breadcrumbs-link::before {
    content: url("../img/icon/icon-right-small.svg");
    margin-right: 18px;
}

.filter-wrapper {
    width: 220px;
}

.filter-title {
    display: inline-block;
    vertical-align: middle;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
}

.filter-fieldset {
    text-decoration: none;
}

.filter-checklist {
    list-style: none;
}

.filter-label-checkbox {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 15px;
    font-style: normal;
    line-height: 20px;
    color: #000000;
    text-transform: uppercase;
  }
  
.filter-label-radio {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    text-transform: uppercase;    
}

.filter-button {
    width: 140px;
    height: 38px;
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-style: normal;
    line-height: 18px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.content-wrapper {
    display: flex;
}

.filter-title-wrap {
    padding-left: 18px;
    padding-top: 10px;
    padding-right: 18px;
    padding-bottom: 10px;
    background-color: #f7f3ec;
    font-size: 13px;
    line-height: 18px;
}

.filter-legend {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    line-height: 30px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}


.catalog {
    width: 700px;
    margin: 20px auto;
}

.catalog-wrapper {
    display: flex;
    width: 700px;
    flex-direction: column;
    margin-left: 20px;
}

.catalog-title-wrap {
    width: 100%;
    min-height: 89px;
    background-color: #f2f6f8;
  }

.catalog-main-title {
    padding-left: 30px;
    padding-top: 32px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 30px;
    font-style: normal;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
}


.pagination {
    display: flex;
    list-style: none;
}

.pagination-item {
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
  }

.pagination-link {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-style: normal;
    line-height: 18px;
    text-align: center;
    color: #000000;
}

.sort-wrapper {
    padding-left: 18px;
    padding-top: 10px;
    padding-right: 18px;
    padding-bottom: 10px;
    font-size: 13px;
    line-height: 18px;
    background-color: #f7f3ec;
    text-transform: uppercase;
}

.sort-title {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    padding-top: 14px;
    padding-left: 19px;
}

.sort-by {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    flex-wrap: wrap;
    list-style: none;
}

.sort-by-item {
    display: inline;
}

.sort-by-link{
    margin-right: 65px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-style: normal;
    color: rgba(0, 0, 0, 0.3);
}

.sort-by-link:hover {
    color: #000000;
}

.user-wrapper {
    margin-left: 59px;
}

.user-list {
    list-style: none;
}

.user-wrapper-item {
    display: inline;
}

.user-link {
    margin-right: 15px;
    text-decoration: underline;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 18px;
    color: #32425c;
}

.user-link:hover {
    color: #ee3643;
}

.user-link:active {
    color: rgba(50, 66, 92, 0.3);
}

.main-content {
    background-color: #ffffff;
}

.search {
    padding-left: 49px;
    padding-top: 12px;
    padding-right: 60px;
    padding-bottom: 12px;
    font-size: 17px;
    line-height: 18px;
    background-color: #293449;
    color: #ffffff;
    font-family: "Cuprum","Arial",sans-serif;
    border: none;
}

.search:hover {
    background-color: #212a3a;
}

.search:active {
    background-color: #293449;
}

.search:focus {
    background-color: #ffffff;
}

.user-profile {
    display: flex;
    background-color: #ffffff;
    padding: 13px;
    padding-top: 13px;
    padding-bottom: 11px;
}

.profile-name-link {
    position: relative;
    font-family: 'Cuprum', "Tahoma", sans-serif;
    font-size: 21px;
    font-style: normal;
    line-height: 21px;
    color: #000000;
}

.user-profile .profile-name-link {
    padding-left: 34px;
}

.profile-name-link::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon/icon-user.svg");
    background-repeat: no-repeat;
    top: 2px;
    left: 0px;
    width: 22px;
    height: 17px;
    background-position: 0 0;
}

.profile-name-link:hover::before {
    opacity: 0.3;
}

.profile-name-link:active,
.profile-name-link:active::before {
    opacity: 0.3;
}

.profile-logout {
    position: relative;
    margin-left: 39px;
}

.user-profile .profile-logout {
    padding-left: 20px;
}

.profile-logout::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon/icon-logout.svg");
    top: 2px;
    left: 0px;
    width: 22px;
    height: 17px;
    background-position: 0 0;
}

.profile-logout:hover::before {
    opacity: 0.3;
}

.categorys-item {
    margin-right: 20px;
    margin-top: 20px;
    width: 300px;
    height: 123px;
}

.categorys {
    display: flex;
    flex-wrap: wrap;
    
}

.categorys-item-title {
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 24px;
    font-style: normal;
    line-height: 30px;
    font-weight: bold;
    color: #ffffff;
}

.categorys-item-button {
    width: 135px;
    height: 38px;
    background-color: rgba(0,0,0,0.1);
    text-align: center;
}

.categorys-item-button:hover {
    width: 135px;
    height: 38px;
    background-color: rgba(0,0,0,0.2);
}

.categorys-item-button:active {
    background-color: rgba(0,0,0,0.3);
}

.categorys-item-link {
    display: block;
    height: 100%;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 18px;
    letter-spacing: normal;
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding-top: 12px;
}

.categorys-materials {
    background-color: #ffbf47;
    background-image: url("../img/icon/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 85% 50%;
    background-size: 44px 65px;
}

.categorys-tools {
    background-color: #3bbce3;
}

.categorys-tech {
    background-color: #dc91d8;
}

.categorys-discount {
    background-color: #8ed78f;
}

.categorys-delivery {
    background-color: #ffc047;
}

.about {
    padding-top: 67px;
    padding-bottom: 70px;
    background-color: #f4f7f9;
    color: #000000;
}

.about-title {
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 30px;
    margin-top: 0;
}

.about-text {
    margin: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-style: normal;
    line-height: 24px;
    color: #000000;
}

.slider {
    float: left;
}

.slide-1 {
    display: block;
    width: 620px;
    height: 266px;
    background-image: url("../img/slide-image2.jpg");
    background-repeat: no-repeat;
    background-size: 620px 266px;
}

.slide-2 {
    display: block;
    width: 620px;
    height: 266px;
    background-image: url("../img/slide-image.jpg");
    background-repeat: no-repeat;
    background-size: 620px 266px;
}


.slide-title {
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    line-height: 36px;
    color: #ffffff;
}

.slide-slogan {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    color: #ffffff;
}

.button {
    display: block;
    width: 195px;
    background-color: #ee3643;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    border-radius: 5px;
}

.button:hover {
    background-color: #ca2c37;
}

.button:active {
    background-color: #ba2732;
}

.card {
    position: relative;
    display: inline-block;
    width: 218px;
    margin-right: 20px;
    margin-bottom: 20px;

    line-height: 20px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;

    border: solid 1px #eaeaea;
}

.card:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.card:nth-child(3n) {
    margin-right: 0;
}

.catalog {
    font-size: 0;
  }

.flag {
    position: absolute;
    top: -1px;
    right: -1px;

    width: 60px;
    height: 60px;

    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}

.flag-new {
    background: url("../img/icon/new-flag.png") no-repeat 0 0;
}

.card-actions {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 218px;
    height: 88px;
    padding: 40px 0;
    
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}

.card-actions-add,
.card-actions-mark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.card-actions-mark {
    color: #32425c;
    background: #ffffff;
    border-bottom-color: #63a63e;
}

.card-actions {
    display: none;
}
  
.card:hover .card-actions {
        display: block;
    }

.card-image {
    width: 218px;
    height: 168px;
}

.card-image img {
    max-width: 100%;
}

.card-title {
    min-height: 40px;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.card-price-old {
    min-height: 20px;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 15px;

    color: #999;
    text-decoration: line-through;
}

.card-price-new {
    position: relative;
    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;

    color: #ffffff;
    background-color: #ee3643;
    border-radius: 3px;
}

.card-price-new:after {
    content: "";
    
    position: absolute;
    top: 0;
    right: -20px;
    
    width: 0;
    height: 0;
    
    border: 20px solid white;
    border-left-color: #ee3643;
}

.brand-image {
    display: block;
    margin: auto;
}

.contact-company {
    display: flex;
    flex-wrap: wrap;
    margin-top: 82px;
    margin-bottom: 86px;
}

.contact-with-us {
    margin-left: 120px;
}

.about-us-title {
    margin: 0;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 30px;
    font-style: normal;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

.about-us-text-1 {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-style: normal;
    line-height: 24px;
    color: #000000;
    width: 519px;
    margin-top: 38px
}

.about-us-text-2 {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-style: normal;
    line-height: 24px;
    color: #000000;
    width: 386px;
    margin-top: 36px;
}

.about-us-list {
    margin: 0;
}

.about-us-item {
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 40px;
    text-align: left;
    color: #000000;
}

.about-us .button {
    padding-left: 13px;
    padding-right: 13px;
    margin-top: 24px;
}

.contact-with-us .button {
    padding-left: 52px;
    padding-right: 53px;
    margin-top: 40px
}

.contact-with-us-title {
    margin: 0;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 30px;
    font-style: normal;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

.contact-with-us-text {
    width: 179px;
    margin-top: 39px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-style: normal;
    line-height: 24px;
    color: #000000;
}

.little-map {
    margin-top: 36px;
}

.footer {
    background-color: #32425c;
}

.footer-top {
    display: flex;
}

.footer-logo-link {
    padding-top: 22px;
    padding-bottom: 15px;
    text-align: center;
    width: 220px;
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
}

.footer-nav {
    display: flex;
    flex-direction: column;
}

.footer-nav-top-list {
    display: flex;
    padding-left: 0;
    list-style: none;
    margin-top: 42px;
}

.footer-nav-top-item-link {
    margin-left: 60px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    color: #f1f5f7;
}

.footer-nav-top-item-link:hover {
    text-decoration: underline;
}

.footer-nav-top-item-link:active {
    color: rgba(241, 245, 247, 0.5);
}

.footer-nav-bottom-list {
    display: flex;
    padding-left: 25px;
    list-style: none;
    margin-top: 14px;
}

.footer-nav-bottom-item {
    margin-left: 60px;
}

.footer-nav-bottom-item-link {
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    color: #ffd180;
}

.footer-nav-bottom-item-link:hover {
    text-decoration: underline;
}

.footer-nav-bottom-item-link:active {
    color: rgba(255, 209, 128, 0.5);;
}

.footer-adress-text {
    margin-top: 27px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    color: #f3f7f9;
}

.footer-address {
    display: flex;
    flex-direction: column;
}

.footer-address-phone {
    color: #ffffff;;
}


.footer-bottom {
    background-color: #293449;
}

.footer-bottom-wrapper {
    display: flex;
}

.copyright-text {
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 18px;
    color: #ffffff;
}

.socials-list
 {
    display: flex;
    list-style: none;
}

.socials-item {
    margin-left: 26px;
}

.feedback-text {
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 18px;
    color: #ffffff;
}

.feedback-link {
    color: #ffd180;
}

.write-to-us-text {
    margin-top: 22px;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 18px;
    color: #000000;
}

.popup-write-to-us {
    margin: 50px;
    width: 620px;
    border-top: 7px solid red;
    box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.popup-added {
    width: 620px;
    height: 282px;
    box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.input-wrapper {
    margin-left: 80px;
    margin-top: 23px;
}


.your-name {
    display: inline-block;
}

.your-email {
    display: inline-block;
}

.your-name label,
.your-email label,
.write-to-us-text label {
    display: block;    
    line-height: 18px;
    margin-bottom: 13px;
}

.popup-button-send {
    padding: 37px 80px;
    text-align: center;
    background-color: #f4f4f4;
}

.popup-button-send .button {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    outline: none;
}

.name-input,
.email-input {
    width: 220px;
}

.letter-input {
    width: 460px;
}

.popup-added-button-light {
    color: #000000;
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 14px;
    font-style: normal;
    text-transform: uppercase;
    line-height: 18px;
    background-color: #ffffff;
}

.popup-added-title {
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-size: 30px;
  font-style: normal;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.popup-added-buttons-wrap {
    background-color: #f1f1f1;
}

.popup-big-map {
    width: 940px;
    height: 464px;
    background-image: url("../img/map.png");
    background-repeat: no-repeat;
    background-size: 940px 464px;
}

