/*

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    font-family: "PT Sans","Arial",sans-serif;
    color: #000;
    background: #fff;
}

a {
    text-decoration: none;
}

 

.logo {
    background-color: #ee3643;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo:hover {
    background-color: #ca2c37;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo:active {
    background-color: #ba2732;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo:focus {
    background-color: #ee3643;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.header-logo {
    width: 220px;
    height: 47px;
}

.footer-logo {
    width: 220px;
    height: 68px;
}

.header-logo-image {
    width: 109px;
    height: 19px;
    padding-left: 55px;
    padding-top: 13px;
}

.footer-logo-image {
    width: 138px;
    height: 23px;
    padding-left: 41px;
    padding-top: 20px;
}

 

.header-top-nav-list {
    font-family: Cuprum;
    font-size: 17px;
}

.header-top {
    background-color: #293449;
    color: #ffffff;
    min-height: 42px;
}

.header-top a {
    color: #ffffff;
}

.header-top-nav-item {
    background-color: #293449;
}

.header-top-nav-item:last-child {
    background-color: #63a63e;
}

.header-top-nav-item:last-child:hover {
    background-color: #5fbb2d;
}

.header-top-nav-item:last-child:active {
    background-color: #518534;
}

.header-top-nav-item:hover {
    background-color: #212a3a;
}

.header-top-nav-item:active {
    background-color: #161d29;
}

.bookmarks-link:active,
.cart-link:active {
    background-color: #161d29;
}

.header-title {
    color: #ee3643;
    font-family: Cuprum;
    font-style: italic;
    font-size: 16px;
}

.header-phone {
    font-family: Cuprum;
    font-size: 21px;
    letter-spacing: 0.42px;
    color: #e9292a;
}

.header-data {
    font-family: Cuprum;
    font-size: 14px;
    text-align: center;
    color: #32425c;
}



.login-item-link {
    font-family: Cuprum;
    font-size: 21px;
    color: #000000;
}

.login-item-link:hover {
    color: #ee3643;
}

.login-item-link:active {
    color: rgba(0, 0, 0, 0.3);;
}

 главное навигационное меню 

.main-menu {
    background-color: #32425c;
}

.main-menu-item-link {
    color: #ffffff;
}

.main-menu-item:hover {
    background-color: #293449;
    font-family: 17px;
    color: #ffffff;
}

.main-menu-item:active {
    background-color: #1d2739;
    color: rgba(255, 255, 255, 0.5);
}



.categorys-item-title {
    font-family: Cuprum;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.categorys-item-button {
    width: 135px;
    height: 38px;
    opacity: 0.1;
    background-color: #000000;
    text-align: center;
}

.categorys-item-button:hover {
    width: 135px;
    height: 38px;
    opacity: 0.2;
    background-color: #000000;
}

.categorys-item-link {
    width: 87px;
    height: 12px;
    font-family: Cuprum;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}



.populars-title-wrap {
    width: 940px;
    height: 89px;
    background-color: #f9f5f0;
}

.populars-title {
    font-family: Cuprum;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    color: #32425c;
}

.button {
    background-color: #ee3643;
    text-transform: uppercase;
}



.header-top-nav-list,
.login-actions,
.main-menu-list,
.populars-list,
.popular-brands-list,
.service-control-list,
.about-us-delivery,
.footer-nav-top-list,
.footer-nav-bottom-list,
.copyright-feedback,
.login-list,
.breadcrumbs,
.price-firms-checklist,
.price-supply-checklist,
.pagination,
.sort-by,
.sort-action,
.user-box-list
 {
    list-style: none;
}

.header {
    
  background-color: #f1f5f7;
}

.main-content {
    background-color: #909292;
}

.service {
    background-color: #f2f6f8;
}
*/